.recipe-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    height: auto;
     
}

.form-container {
    margin: auto;
    padding: 10px;
    width: 50%;
    background: #878f99;  
  }

  .new-recipe-form{
      width: 80%;
  }

 .block{
    background:#a2b9bc;
    width: 80%
 }

