.recipe-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    height: 800px;
    
    overflow: scroll;
    overflow-x: hidden; 
    
}

.form-container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background: #878f99;
    opacity: .8;
    
  }

  .new-recipe-form{
      width: 80%;
  }

 .block{
    background:#a2b9bc;
    width: 80%
 }