.recipe-container{
    height: 600px;
    overflow: scroll;
    overflow-x: hidden; 
    /* background-color: red;  */
}

.form-container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background: #515DA2;
    opacity: .8;
    
  }

  .new-recipe-form{
      width: 80%;
  }

 